{% extends 'post/layout/base_layout.html' %}
{% load static %}
{% block content %}
{% for post in post_list %}
<div class="row restaurant-item" style="margin:20px auto;">
    <div class="col-sm-12">
        <div class="card border-secondary">
            <div class="card-body">
                {{ post.POST_ID }}
                <h5 class="card-title">{{ post.POST_TITLE }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.REG_USER_ID }}</h6>
                <a href="javascript:" onclick="detail_view('{{ post.POST_ID }}')" class="card-link">상세보기</a>
            </div>
            <a href="{% url 'detail_temp' post_id=post.POST_ID %}" >상세보기 다른버전</a>
        </div>
    </div>
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="pagination">
            <span class="step-links text-center" style="width:100%;">
                {% for i in 'x'|rjust:page_len %}
                    {% if forloop.counter == page_num %}
                        {{ forloop.counter }}
                    {% else %}
                        <a href="javascript:" class="current" onclick="post_list('{{ forloop.counter }}')">{{ forloop.counter }}</a>
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>
{% endblock %}