{% extends 'login/layout/base_layout.html' %}
{% load static %}
{% block content %}
<div>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    <div>
        {% if 'sign_session' in request.session %}
            {{ request.session.sign_session }}
        {% endif %}
    </div>
    {% if 'sign_session' in request.session %}
        <input type="button" value="로그아웃" onclick="logout_process()" />
    {% else %}
        <input type="button" value="로그인" onclick="login_page()" />
    {% endif %}

</div>
{% endblock %}