<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>블로그</title>
    {% include 'post/layout/head_layout.html' %}
</head>
<body>
    <div id="top_area">
        {% include 'post/layout/top_layout.html' %}
    </div>
    <div id="content_area">
        {% block content %}
        {% endblock %}
    </div>
    <div class="hidden_field">
        <input type="hidden" id="list_post_url" value="{% url 'post/list' %}">
        <input type="hidden" id="detail_post_url" value="{% url 'post/detail' %}">
        <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" id="create_post_url" value="{% url 'post/create' %}">
    </div>
</body>
</html>